// http://eslint.org/docs/user-guide/configuring
{
  root: true,
  parser: 'babel-eslint',
  parserOptions: {
    sourceType: 'module',
    ecmaFeatures: {
      jsx: true
    }
  },
  env: {
    browser: true,
  },
  globals: {
    __DEV__: false,
    __PROD__: false
  },
  extends: 'standard',
  plugins: [
    'react'
  ],
  'rules': {
    'arrow-parens': 0, // allow paren-less arrow functions
    'generator-star-spacing': 0 // allow async-await
  }
}
